.board-row {
  display: flex;
  justify-content: center;
  align-content: center;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    /* margin-bottom: 5px; */
  }